
<div class="control-section template" ><!--inicio de diaglolo-->

    <div class="col-lg-12 control-section toast-default-section">
        <div class="e-sample-resize-container">
            <ejs-toast #defaulttoast id='defaulttoast' [position]="position" (created)="onCreate()"  (close)="onClose($event)"  (beforeOpen)="onBeforeOpen()">            
            </ejs-toast>        
        </div>
    </div>



    <h1>Documentos de Tramite Referencia</h1>
    <div id="action-description">
    <p>
        En esta seccion puede UD. gestionar   <code>Documentos de Tramite Referencia </code>.
    </div>

    <ejs-dialog #template  [isModal]='isModal' [allowDragging]='dialogdragging'  [height]='height' [visible]='hidden'  [animationSettings]='animationSettings' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' (open)="dialogOpen()"
        (close)="dialogClose()">  
        <!--<ng-template #footerTemplate>
            <input id="inVal" class="e-input" type="text" placeholder="Enter your message here!"/>
                <button id="sendButton" class="e-control e-btn e-light sendButton" data-ripple="true">Cancelar</button>
                <button id="sendButton"  class="e-control e-btn e-primary sendButton" data-ripple="true">Guardar</button>         
                    <button  [disabled]="userForm.form.invalid" >SAVE</button>
        </ng-template>-->
        <ng-template #content>
            <div class="dialogContent">
                <span class="dialogText">    
                    
                <app-documentos-tramite-form-tablas-generales [datosDocumentoTramite]="DocumentoTramite" [op]="opcion" (devuelve_hijo)="cerrar_ventana_modal($event)" (cerrar_modal)="cerrar_ventana_modal_($event)"></app-documentos-tramite-form-tablas-generales>                   
                 
                </span>     
            </div>
        </ng-template>
        
        <ng-template #header>
            <!--<div class="e-avatar template-image e-avatar-xsmall e-avatar-circle">fadsf</div>-->

            <fa-icon [icon]="icoForm" size="lg"></fa-icon>
                                                            
            <div id="dlg-template" title="Nancy" class="e-icon-settings"> Formulario Documentos  </div>
        </ng-template>
    </ejs-dialog>


    <div class="control-section button-group-container">
        <div class="button-group-section">
            <div id="button-group-control">
                <div class="row">    
                    <div id="icon" class="e-btn-group">                        
                        <button ejs-button id="btnDocumentoTramiteVer" #ButtonInstance (click)="BtnVerDocumentoClick()" ><fa-icon [icon]="faInfo" size="lg"></fa-icon> Ver</button>
                      
                    </div>
                </div>
                           
            </div>
        </div>
    </div>
   

    <ejs-grid #grid [dataSource]='data | async'  allowPaging='true' height=365  [allowFiltering]="true" [pageSettings]='pageOptions' allowSorting= 'true'  (dataStateChange)= 'dataStateChange($event)' (rowSelected)='rowSelected($event)'>
   
        <e-columns>
            <e-column field= "RowNumber" headerText="N°" width="10%" [allowFiltering]="false" [allowSorting]="false"></e-column>
            <e-column field= "iTramMovId" headerText="ID" width="10%" [allowFiltering]="false" [visible]="false"></e-column>
            <e-column field= "cTipoMovDescripcion" headerText="Tipo Mov" width="10%"  [allowFiltering]="false" [allowSorting]="false"></e-column>           
            <e-column field= "iTramNumRegistro" headerText="Nro Reg. Tram." width="8%"   [allowSorting]="false"></e-column>
            <e-column field= "cTramDocumentoTramite" headerText="Documento Tram." width="20%"  [allowFiltering]="false" [allowSorting]="false"></e-column>
            <e-column field= "cTramAsunto" headerText="Asunto"   width="32%" [allowFiltering]="false" [allowSorting]="false"></e-column>
           
           
        </e-columns>
    </ejs-grid>

   


    
</div>

