
    
     
         
  

   
  


<form id="template_driven"  name="template_driven" #BienForm="ngForm" novalidate>
        <div class="row material2">
              
                       
                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">           

                        <div class="e-float-input e-input-group" [ngClass]="{'e-success': cDocAdqNro.valid}" >
                                <input type="hidden" id="iDocAdqId" name="iDocAdqId" [(ngModel)]="Bien.iDocAdqId" #iDocAdqId="ngModel" required  value="{{Bien.iDocAdqId}}">
                                <input type="text" required  class="inputD"    disabled  id="cDocAdqNro" name="cDocAdqNro" [(ngModel)]="Bien.cDocAdqNro" #cDocAdqNro="ngModel"   value="{{Bien.cDocAdqNro}}">
                                <span class="e-float-line"></span>
                                <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cDocAdqNro !== '' , 'e-label-bottom':  Bien.cDocAdqNro == ''}" for="cDocAdqNro">Nro Documento</label>                        
                        
                
                                <button   class="e-input-group-icon " (click)="BtnVerDocumentoClick()"  [disabled]="op != 0"><fa-icon [icon]="faFilter" size="lg"></fa-icon> </button> 
                                
                           
                            </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                        <div class="form-group template ">
                                <div class="e-float-input" [ngClass]="{'e-success': cFormaAdqDescripcion.valid}">
                                    <input type="text" id="cFormaAdqDescripcion" disabled class="inputDD" #cFormaAdqDescripcion='ngModel'   [(ngModel)]="Bien.cFormaAdqDescripcion" name="cFormaAdqDescripcion" required value="{{Bien.cFormaAdqDescripcion}}">
                                    <span class="e-float-line"></span>
                                    <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cFormaAdqDescripcion !== '' , 'e-label-bottom':  Bien.cFormaAdqDescripcion == ''}" for="cFormaAdqDescripcion">Tipo Documento</label>                        
                                </div>
                        </div>   
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                        <div class="form-group template ">
                                <div class="e-float-input" [ngClass]="{'e-success': dDocAdqFecha.valid}">
                                    <input type="text" id="dDocAdqFecha" disabled class="inputDD" #dDocAdqFecha='ngModel'   [(ngModel)]="Bien.dDocAdqFecha" name="dDocAdqFecha" required value="{{Bien.dDocAdqFecha}}">
                                    <span class="e-float-line"></span>
                                    <label class="e-float-text" [ngClass]="{'e-label-top': Bien.dDocAdqFecha !== '' , 'e-label-bottom':  Bien.dDocAdqFecha == ''}" for="dDocAdqFecha">Fecha</label>                        
                                </div>
                        </div>   
                </div>

                <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                        <div class="form-group template ">
                                <div class="e-float-input" [ngClass]="{'e-success': nDocAdqValor.valid}">
                                    <input type="text" id="nDocAdqValor" disabled class="inputDD" #nDocAdqValor='ngModel'   [(ngModel)]="Bien.nDocAdqValor" name="nDocAdqValor" required value="{{Bien.nDocAdqValor}}">
                                    <span class="e-float-line"></span>
                                    <label class="e-float-text" [ngClass]="{'e-label-top': Bien.nDocAdqValor !== '' , 'e-label-bottom':  Bien.nDocAdqValor == ''}" for="nDocAdqValor">Valor</label>                        
                                </div>
                        </div>   
                </div>
        </div>

        
        <div class="row material2">
        <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="form-group template">
                        <div class="e-float-input" [ngClass]="{'e-success': iTipoCId.valid}">
                                <ejs-dropdownlist #tipoCObj name="iTipoCId"  id="iTipoCId" #iTipoCId='ngModel' [disabled]="op != 0" (change)='onTipoCatalogo()'  [(ngModel)]="Bien.iTipoCId" name="iTipoCId" required 
                                [dataSource]='tipoCData'  [fields]='tipoCfields' floatLabelType='Auto'>
                                </ejs-dropdownlist>                          
                           
                             
                           
                                    <span class="e-float-line"></span>                      
                        </div>
                 </div>

        </div>
             <!-- <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                        <div class="form-group template">
                                <div class="e-float-input" [ngClass]="{'e-success': iBienId.valid}">-->
                                    <input type="hidden" id="iBienId" name="iBienId" [(ngModel)]="Bien.iBienId" #iBienId="ngModel" required disabled value="{{Bien.iBienId}}">
                                    <!-- <span class="e-float-line"></span>
                                    <label class="e-float-text" [ngClass]="{'e-label-top': Bien.iBienId !== '' , 'e-label-bottom':  Bien.iBienId == ''}" for="iBienId">ID Bien  </label>                        
                                </div>     
                            </div>
                </div>-->   
                 <div class="col-xs-5 col-sm-5 col-lg-5 col-md-5">           

                        <div class="e-float-input e-input-group" [ngClass]="{'e-success': cBienCodigo.valid}" >
                                <input type="hidden" id="iCatalogoId" name="iCatalogoId" [(ngModel)]="Bien.iCatalogoId" #iCatalogoId="ngModel" required  value="{{Bien.iCatalogoId}}">
                                <input type="text" required  class="inputD"     disabled id="cBienCodigo" name="cBienCodigo" [(ngModel)]="Bien.cBienCodigo" #cBienCodigo="ngModel"   value="{{Bien.cBienCodigo}}">
                                <span class="e-float-line"></span>
                                <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cBienCodigo !== '' , 'e-label-bottom':  Bien.cBienCodigo == ''}" for="cBienCodigo">Código </label>                        
                        
                                
                                <button  class="e-input-group-icon " (click)="BtnVerCatalogoSBNloClick()"   [disabled]="op != 0"  ><fa-icon [icon]="faFilter" size="lg"></fa-icon> </button> 
                                
                           
                            </div>
                </div>
           
        </div>
        <div class="row material2">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group template ">
                            <div class="e-float-input" [ngClass]="{'e-success': iPlanConMayorId.valid}">
                                <ejs-dropdownlist  (change)='onChangeMayor()'  #mayorList name="iPlanConMayorId"  id="iPlanConMayorId" #iPlanConMayorId='ngModel'   [(ngModel)]="Bien.iPlanConMayorId" name="iPlanConMayorId" required 
                                        [dataSource]='mayorData'  [fields]='mayorFields' floatLabelType='Auto' [allowFiltering]='true'   (filtering)='onFiltering($event)' [filterBarPlaceholder]="filterPlaceholder">
                                        </ejs-dropdownlist>                                    
                                <span class="e-float-line"></span>  
                            </div>
                    </div>  
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="form-group template ">
                        <div class="e-float-input" [ngClass]="{'e-success': iPlanConSubCueId.valid}">
                                <ejs-dropdownlist    #subCuentaList name="iPlanConSubCueId"  id="iPlanConSubCueId" #iPlanConSubCueId='ngModel'   [(ngModel)]="Bien.iPlanConSubCueId" required 
                                        [dataSource]='subCuentaData'  [fields]='subCuentaFields' floatLabelType='Auto' [allowFiltering]='true'   (filtering)='onFilteringsubCuenta($event)' [filterBarPlaceholder]="ConSubCuePlace"
                                        [enabled]='false'>
                                        </ejs-dropdownlist>                                    
                                <span class="e-float-line"></span>  
                        </div>
                </div>  
             </div>
        </div>
        <div class="row material2">
                <div class="col-xs-10 col-sm-10 col-lg-10 col-md-10">
                        <div class="form-group template ">
                                <div class="e-float-input" [ngClass]="{'e-success': cBienDescripcion.valid}">
                                    <input type="text" id="cBienDescripcion"  #cBienDescripcion='ngModel'   [(ngModel)]="Bien.cBienDescripcion" name="cBienDescripcion" required value="{{Bien.cBienDescripcion}}">
                                    <span class="e-float-line"></span>
                                    <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cBienDescripcion !== '' , 'e-label-bottom':  Bien.cBienDescripcion == ''}" for="cBienDescripcion">Descripcion </label>                        
                                </div>
                        </div>  
                </div>
                <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
                    <div class="form-group template ">
                            <div class="e-float-input" [ngClass]="{'e-success': cantidad.valid}">
                                <input type="text" id="cantidad"   #cantidad='ngModel'   [(ngModel)]="Bien.cantidad" name="cantidad" required value="{{Bien.cantidad}}">
                                <span class="e-float-line"></span>
                                <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cantidad !== '' , 'e-label-bottom':  Bien.cantidad == ''}" for="cantidad">Cantidad </label>                        
                            </div>
                    </div>  
            </div>
        </div>

        <!--<div class="row material2">
              
                  
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <div class="form-group template ">
                                        <div class="e-float-input" [ngClass]="{'e-success': cPlanContCodigo.valid}">
                                            <input type="text" id="cPlanContCodigo" disabled class="inputDD" #cPlanContCodigo='ngModel'   [(ngModel)]="Bien.cPlanContCodigo" name="cPlanContCodigo" required value="{{Bien.cPlanContCodigo}}">
                                            <span class="e-float-line"></span>
                                            <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cPlanContCodigo !== '' , 'e-label-bottom':  Bien.cPlanContCodigo == ''}" for="cPlanContCodigo">Cuenta código</label>                        
                                        </div>
                                </div>   
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <div class="form-group template ">
                                    <div class="e-float-input" [ngClass]="{'e-success': cPlanContDescripcion.valid}">
                                        <input type="text" id="cPlanContDescripcion" disabled class="inputDD" #cPlanContDescripcion='ngModel'   [(ngModel)]="Bien.cPlanContDescripcion" name="cPlanContDescripcion" required value="{{Bien.cPlanContDescripcion}}">
                                        <span class="e-float-line"></span>
                                        <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cPlanContDescripcion !== '' , 'e-label-bottom':  Bien.cPlanContDescripcion == ''}" for="cPlanContDescripcion">Cuenta</label>                        
                                    </div>
                            </div>   
                         </div>
        </div>

        <div class="row material2">
              
                       
            eliminar esta <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">           

                      <div class="e-float-input e-input-group" [ngClass]="{'e-success': cPlanContCodigo.valid}" >
                              <input type="hidden" id="iPlanContId" name="iPlanContId" [(ngModel)]="Bien.iPlanContId" #iCatSbnId="ngModel" required  value="{{Bien.iPlanContId}}">
                              <input type="text" required  class="inputD"  disabled    id="cPlanContCodigo" name="cPlanContCodigo" [(ngModel)]="Bien.cPlanContCodigo" #cPlanContCodigo="ngModel"   value="{{Bien.cPlanContCodigo}}">
                              <span class="e-float-line"></span>
                              <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cPlanContCodigo !== '' , 'e-label-bottom':  Bien.cPlanContCodigo == ''}" for="cPlanContCodigo">Cuenta</label>                        
                      
              
                              <button  [disabled]="op == 1" class="e-input-group-icon " (click)="BtnVerPlanClick()" ><fa-icon [icon]="faFilter" size="lg"></fa-icon> </button> 
                              
                         
                          </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                      <div class="form-group template ">
                              <div class="e-float-input" [ngClass]="{'e-success': cClasGastoCodigo.valid}">
                                  <input type="text" id="cClasGastoCodigo" disabled class="inputDD" #cClasGastoCodigo='ngModel'   [(ngModel)]="Bien.cClasGastoCodigo" name="cClasGastoCodigo" required value="{{Bien.cClasGastoCodigo}}">
                                  <span class="e-float-line"></span>
                                  <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cClasGastoCodigo !== '' , 'e-label-bottom':  Bien.cClasGastoCodigo == ''}" for="cClasGastoCodigo">Clasificador código</label>                        
                              </div>
                      </div>   
              </div>
              <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                  <div class="form-group template ">
                          <div class="e-float-input" [ngClass]="{'e-success': cClasGastoDescripcion.valid}">
                              <input type="text" id="cClasGastoDescripcion" disabled class="inputDD" #cClasGastoDescripcion='ngModel'   [(ngModel)]="Bien.cClasGastoDescripcion" name="cClasGastoDescripcion" required value="{{Bien.cClasGastoDescripcion}}">
                              <span class="e-float-line"></span>
                              <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cClasGastoDescripcion !== '' , 'e-label-bottom':  Bien.cClasGastoDescripcion == ''}" for="cClasGastoDescripcion">Clasificador</label>                        
                          </div>
                  </div>   
               </div>
</div>-->


    


        <div class="row material2">
              
                       
                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">           

                        <div class="e-float-input e-input-group" [ngClass]="{'e-success': cTipoDescripcion.valid}" >
                                <input type="hidden" id="iTipoId" name="iTipoId" [(ngModel)]="Bien.iTipoId" #iDocAdqId="ngModel" required  value="{{Bien.iTipoId}}">
                                <input type="text" required  class="inputD"  disabled    id="cTipoDescripcion" name="cTipoDescripcion" [(ngModel)]="Bien.cTipoDescripcion" #cTipoDescripcion="ngModel"   value="{{Bien.cTipoDescripcion}}">
                                <span class="e-float-line"></span>
                                <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cTipoDescripcion !== '' , 'e-label-bottom':  Bien.cTipoDescripcion == ''}" for="cTipoDescripcion">Tipo</label>                        
                        
                
                                <button   [disabled]="op == 1" class="e-input-group-icon " (click)="BtnVerTipoClick()" ><fa-icon [icon]="faFilter" size="lg"></fa-icon> </button> 
                                
                           
                            </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4"> 
                        <div class="form-group template ">
                                <div class="e-float-input" [ngClass]="{'e-success': cModeloDescripcion.valid}">
                                    <input type="text" id="cModeloDescripcion" disabled class="inputDD" #cModeloDescripcion='ngModel'   [(ngModel)]="Bien.cModeloDescripcion" name="cModeloDescripcion" required value="{{Bien.cModeloDescripcion}}">
                                    <span class="e-float-line"></span>
                                    <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cModeloDescripcion !== '' , 'e-label-bottom':  Bien.cModeloDescripcion == ''}" for="cModeloDescripcion">Modelo</label>                        
                                </div>
                        </div>   
                </div>
             

                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4"> 
                        <div class="form-group template ">
                                <div class="e-float-input" [ngClass]="{'e-success': cMarcaDescripcion.valid}">
                                    <input type="text" id="cMarcaDescripcion" disabled class="inputDD" #cMarcaDescripcion='ngModel'   [(ngModel)]="Bien.cMarcaDescripcion" name="cMarcaDescripcion" required value="{{Bien.cMarcaDescripcion}}">
                                    <span class="e-float-line"></span>
                                    <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cMarcaDescripcion !== '' , 'e-label-bottom':  Bien.cMarcaDescripcion == ''}" for="cMarcaDescripcion">Marca</label>                        
                                </div>
                        </div>   
                </div>
        </div>
 

        <div class="row material2">
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                    <div class="form-group template">
                            <div class="e-float-input" [ngClass]="{'e-success': iEstadoBienId.valid}">
                                    <ejs-dropdownlist #EstadoBienObj name="iEstadoBienId"  id="iEstadoBienId" #iEstadoBienId='ngModel' [disabled]="op != 0"  [(ngModel)]="Bien.iEstadoBienId" name="iEstadoBienId" required 
                                    [dataSource]='dataBienEstado'  [fields]='EstadoBienFields' floatLabelType='Auto'>
                                    </ejs-dropdownlist>                          
                               
                                 
                               
                                        <span class="e-float-line"></span>                      
                            </div>
                     </div>
    
            </div>
               
                     <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">    
                        <div class="form-group template">
                            <div class="e-float-input" [ngClass]="{'e-success': nBienValor.valid}">
                                <input type="text"  [disabled]="op == 1" id="nBienValor" name="nBienValor" [(ngModel)]="Bien.nBienValor" #nBienValor="ngModel" required  value="{{Bien.nBienValor}}">
                                <span class="e-float-line"></span>
                                <label class="e-float-text" [ngClass]="{'e-label-top': Bien.nBienValor !== '' , 'e-label-bottom':  Bien.nBienValor == ''}" for="nBienValor">Valor Unitario</label>                        
                            </div>     
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">    
                        <div class="form-group template">
                            <div class="e-float-input" [ngClass]="{'e-success': cBienDimension.valid}">
                                <input type="text"  [disabled]="op == 1" id="cBienDimension" name="cBienDimension" [(ngModel)]="Bien.cBienDimension" #cBienDimension="ngModel" required  value="{{Bien.cBienDimension}}">
                                <span class="e-float-line"></span>
                                <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cBienDimension !== '' , 'e-label-bottom':  Bien.cBienDimension == ''}" for="cBienDimension">Dimensión</label>                        
                            </div>     
                        </div>
                    </div>
              
            </div>

        

            <div class="row material2">
                    <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                        <div class="form-group template">
                            <div class="e-float-input" [ngClass]="{'e-success': colores.valid}">
                                <ejs-multiselect  allowCustom=false
                                [dataSource]='dataColores' [placeholder]='autoreactiveplaceholder' [fields]='coloresFields'  [mode]='box' id="colores"   #colores='ngModel' [disabled]="op == 1"  [(ngModel)]="Bien.colores" name="colores" required >
                                <ng-template #headerTemplate>
                                        <div class="head"> <span class="photo">Color</span> <span style="margin-left:17px;">Nombre de Color</span></div>
                                    </ng-template>
                                    <ng-template #itemTemplate let-dataColores>                                       

                                        <div>
                                                <div class="valueTemp"   [style.background] = "dataColores.cColorCodigoHex"  ></div>
    
                                                <div class="name"> {{dataColores.cColorNombre}} </div>
                                            </div>
                                    </ng-template>
                                    <ng-template #valueTemplate let-dataColores>
                                            <div><div class="valueTempV"   [style.background] = "dataColores.cColorCodigoHex"  ></div>
                                                <div class="nameTemp"> {{dataColores.cColorNombre}} </div> 
                                            </div>
                                        </ng-template>


                            
                            </ejs-multiselect>


                               

                                <span class="e-float-line"></span>
                                <!--<label class="e-float-text" [ngClass]="{'e-label-top': area.iLocalId !== '' , 'e-label-bottom':  area.iLocalId == ''}" for="iLocalId">Local</label>                        
                                -->
                          
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">    
                            <div class="form-group template">
                                <div class="e-float-input" [ngClass]="{'e-success': cBienSerie.valid}">
                                    <input type="text"  [disabled]="op == 1" id="cBienSerie" name="cBienSerie" [(ngModel)]="Bien.cBienSerie" #cBienSerie="ngModel" required  value="{{Bien.cBienSerie}}">
                                    <span class="e-float-line"></span>
                                    <label class="e-float-text" [ngClass]="{'e-label-top': Bien.cBienSerie !== '' , 'e-label-bottom':  Bien.cBienSerie == ''}" for="cBienSerie">Serie</label>                        
                                </div>     
                            </div>
                        </div>
                </div>

          <div class="row material2">

                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">    
                        <div class="form-group template">
                            <div class="e-float-input" [ngClass]="{'e-success': dBienAnioFabricacion.valid}">
                                <input type="text"  [disabled]="op == 1" id="dBienAnioFabricacion" name="dBienAnioFabricacion" [(ngModel)]="Bien.dBienAnioFabricacion" #dBienAnioFabricacion="ngModel" required  value="{{Bien.dBienAnioFabricacion}}">
                                <span class="e-float-line"></span>
                                <label class="e-float-text" [ngClass]="{'e-label-top': Bien.dBienAnioFabricacion !== '' , 'e-label-bottom':  Bien.dBienAnioFabricacion == ''}" for="dBienAnioFabricacion">Año de Fabricacion</label>                        
                            </div>     
                        </div>
                    </div>

                <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">    
                        <div class="form-group template">
                           
                                <div class="multiline-row">
                                        <ejs-textbox  [disabled]="op == 1" id="cBienOtrasCaracteristicas" name="cBienOtrasCaracteristicas" [(ngModel)]="Bien.cBienOtrasCaracteristicas" #cBienOtrasCaracteristicas="ngModel"   value="{{Bien.cBienOtrasCaracteristicas}}"  #default rows="2" placeholder="Otras caracteristicas" floatLabelType="Auto" [multiline]="true" ></ejs-textbox>
                                    </div>
                               
                             
                        </div>
                    </div>

                   
          </div>

               
       <div class="form-group template" *ngIf="op!=1">
        <div class="submitBtn">
            <button class="submit-btn e-btn e-success sendButto" id="GuardarButtonBien" [disabled]="BienForm.invalid"  type="submit" (click)= "GuardarBien()"><fa-icon [icon]="faSave" size="lg"></fa-icon> Guardar</button>                                                              
        </div> 
        </div>                        
</form> 





<div class="control-section template" ><!--inicio de diaglolo-->
    <ejs-dialog #dialogoCatalogoSBN [visible]='hidden'  [animationSettings]='animationSettings' [isModal]='isModal' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' (open)="dialogOpen()"
    (close)="dialogClose()" [isModal]='isModal' >  
    <ng-template #footerTemplate>
        
       <div class="row">
               <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                       <input id="textSelectCatalogo" name="textSelectCatalogo" [(ngModel)]="textSelectCatalogo" class="e-input" type="text" placeholder="Seleccione un Catalogo SBN" readonly/>
                       <input id="idSelectCatalogo" name="idSelectCatalogo" [(ngModel)]="idSelectCatalogo" class="e-input" type="hidden"/>
                 
              
                   </div>
   
                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                       <!--<button id="sendButton" class="e-control e-btn e-light sendButton" data-ripple="true">Cancelar</button>-->
                       <button id="sendButton"  class="e-control e-btn e-primary sendButton" data-ripple="true" (click)="BtnOkCatalogoModalClick()"> Ok</button>     
                   </div>
       </div>
            
            
    </ng-template>
    <ng-template #content>
        <div class="dialogContent">
            <span class="dialogText">    
                <app-catalogo-catalogo-sbn (devuelve_catalogoSBN)="setTextSelectCatalogoSBN($event)"></app-catalogo-catalogo-sbn>                   
               
            </span>     
        </div>
    </ng-template>
    
    <ng-template #header>
           <!--<div class="e-avatar template-image e-avatar-xsmall e-avatar-circle">fadsf</div>-->
   
           <fa-icon [icon]="faList" size="lg"></fa-icon>
                                                           
           <div id="dlg-template" title="Nancy" class="e-icon-settings"> CATALOGO SBN </div>
       </ng-template>
   
   
   </ejs-dialog>

   <!--CATAKOG MENOR-->
   
   <ejs-dialog #dialogoCatalogoUNAM [visible]='hidden'  [animationSettings]='animationSettings' [isModal]='isModal' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' (open)="dialogOpen()"
    (close)="dialogClose()">  
    <ng-template #footerTemplate>
        
       <div class="row">
               <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                       <input id="textSelectCatalogo" name="textSelectCatalogo" [(ngModel)]="textSelectCatalogo" class="e-input" type="text" placeholder="Seleccione un Catalogo SBN" readonly/>
                       <input id="idSelectCatalogo" name="idSelectCatalogo" [(ngModel)]="idSelectCatalogo" class="e-input" type="hidden"/>
                 
              
                   </div>
   
                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                       <!--<button id="sendButton" class="e-control e-btn e-light sendButton" data-ripple="true">Cancelar</button>-->
                       <button id="sendButton"  class="e-control e-btn e-primary sendButton" data-ripple="true" (click)="BtnOkCatalogoModalClick()"> Ok</button>     
                   </div>
       </div>
            
            
    </ng-template>
    <ng-template #content>
        <div class="dialogContent">
            <span class="dialogText">    
                <app-catalogo-no-patrimonial-tablas-generales (devuelve_CatalogoNoPats)="setTextSelectCatalogoNP($event)"></app-catalogo-no-patrimonial-tablas-generales>                   
               
            </span>     
        </div>
    </ng-template>
    
    <ng-template #header>
           <!--<div class="e-avatar template-image e-avatar-xsmall e-avatar-circle">fadsf</div>-->
   
           <fa-icon [icon]="faList" size="lg"></fa-icon>
                                                           
           <div id="dlg-template" title="Nancy" class="e-icon-settings"> CATALOGO UNAM(No Patrimoniales) </div>
       </ng-template>
   
   
   </ejs-dialog>

<!--CATALOGO O/C SIGA-->
   <ejs-dialog #dialogoCatalogoOCSIGA [visible]='hidden'  [animationSettings]='animationSettings' [isModal]='isModal' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width_m_ioc' (open)="dialogOpen()"
   (close)="dialogClose()">  
   <ng-template #footerTemplate>
       
      <div class="row">
              <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                      <input id="textSelectOcItemSiga" name="textSelectOcItemSiga" [(ngModel)]="textSelectOcItemSiga" class="e-input" type="text" placeholder="Seleccione un Item de la Orden de compra" readonly/>
                     
                


             
                  </div>
                  <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                      
                        <ejs-dropdownlist #CuentasObj name="cuentasSelectCombo"  id="cuentasSelectCombo"   [(ngModel)]="cuentasSelectCombo"   
                                    [dataSource]='datacuentasSelectCombo'  [fields]='cuentasSelectComboFields' floatLabelType='Auto'>
                        </ejs-dropdownlist>     

  
                        
               
                    </div>   
  
               <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                      <!--<button id="sendButton" class="e-control e-btn e-light sendButton" data-ripple="true">Cancelar</button>-->
                      <button id="BtnOkOcItemSigaModalClick"  class="e-control e-btn e-primary sendButton" data-ripple="true" (click)="BtnOkOcItemSigaModalClick()"> Ok</button>     
                  </div>
      </div>
           
           
   </ng-template>
   <ng-template #content>
       <div class="dialogContent">
           <span class="dialogText">    
               <app-oc-item-tablas-generales [nroOC]="Bien.cDocAdqNro" (devuelve_OcITEM)="setTextSelectOcItemSiga($event)"></app-oc-item-tablas-generales>                   
              
           </span>     
       </div>
   </ng-template>
   
   <ng-template #header>
          <!--<div class="e-avatar template-image e-avatar-xsmall e-avatar-circle">fadsf</div>-->
  
          <fa-icon [icon]="faList" size="lg"></fa-icon>
                                                          
          <div id="dlg-template" title="Nancy" class="e-icon-settings"> CATALOGO O/C SIGA </div>
      </ng-template>
  
  
  </ejs-dialog>
<!--FIN CATALOGO O/C SIGA-->

    <!--PLAN CONTABLE-->
   
    <!--<ejs-dialog #dialogoPlan [visible]='hidden'  [animationSettings]='animationSettings' [isModal]='isModal' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' (open)="dialogOpen()"
    (close)="dialogClose()">  
    <ng-template #footerTemplate>
        
       <div class="row">
               <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                       <input id="textSelectPlan" name="textSelectPlan" [(ngModel)]="textSelectPlan" class="e-input" type="text" placeholder="Seleccione un Plan contable" readonly/>
                       <input id="idSelectPlan" name="idSelectPlan" [(ngModel)]="idSelectPlan" class="e-input" type="hidden"/>
                 
              
                   </div>
   
                <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                       <button id="sendButton"  class="e-control e-btn e-primary sendButton" data-ripple="true" (click)="BtnOkPlanModalClick()"> Ok</button>     
                   </div>
       </div>
            
            
    </ng-template>
    <ng-template #content>
        <div class="dialogContent">
            <span class="dialogText">    
                <app-plan-tablas-generales  (devuelve_planes)="setTextSelectPlan($event)"></app-plan-tablas-generales>                   
               
            </span>     
        </div>
    </ng-template>
    
    <ng-template #header>
          
           <fa-icon [icon]="faList" size="lg"></fa-icon>
                                                           
           <div id="dlg-template" title="Nancy" class="e-icon-settings"> PLAN CONTABLE</div>
       </ng-template>
   
   
   </ejs-dialog>-->


       <!--Documento DE SERVICIO-->
   
       <ejs-dialog #dialogoDocumento [visible]='hidden'  [animationSettings]='animationSettings' [isModal]='isModal' [showCloseIcon]='showCloseIcon' [target]='target' [width]='widthModalDocumentoAdquisicion' (open)="dialogOpen()"
       (close)="dialogClose()">  
       <ng-template #footerTemplate>
           
          <div class="row">
                  <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                          <input id="NroSelectDocumento" name="NroSelectDocumento" [(ngModel)]="NroSelectDocumento" class="e-input" type="text" placeholder="Seleccione una Documento de servicio" readonly/>
                          <input id="idSelectDocumento" name="idSelectDocumento" [(ngModel)]="idSelectDocumento" class="e-input" type="hidden"/>
                    
                 
                      </div>
      
                   <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                          <!--<button id="sendButton" class="e-control e-btn e-light sendButton" data-ripple="true">Cancelar</button>-->
                          <button id="sendButton"  class="e-control e-btn e-primary sendButton" data-ripple="true" (click)="BtnOkDocumentoModalClick()"> Ok</button>     
                      </div>
          </div>
               
               
       </ng-template>
       <ng-template #content>
           <div class="dialogContent">
               <span class="dialogText">    
                   <app-documentos-tablas-generales  (devuelve_Documentos)="setTextSelectDocumento($event)"></app-documentos-tablas-generales>                   
                  
               </span>     
           </div>
       </ng-template>
       
       <ng-template #header>
              <!--<div class="e-avatar template-image e-avatar-xsmall e-avatar-circle">fadsf</div>-->
      
              <fa-icon [icon]="faList" size="lg"></fa-icon>
                                                              
              <div id="dlg-template" title="Nancy" class="e-icon-settings"> DOCUMENTOS</div>
          </ng-template>
      
      
      </ejs-dialog>



      
       <!--Documento TIPOS -MDELO-MARCA-->
   
       <ejs-dialog #dialogoTipo [visible]='hidden'  [animationSettings]='animationSettings' [isModal]='isModal' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' (open)="dialogOpen()"
       (close)="dialogClose()">  
       <ng-template #footerTemplate>
           
          <div class="row">
                  <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8">
                          <input id="desTipoSelectTipo" name="desTipoSelectTipo" [(ngModel)]="desTipoSelectTipo" class="e-input" type="text" placeholder="Seleccione una Tipo" readonly/>
                          <input id="idSelectTipo" name="idSelectTipo" [(ngModel)]="idSelectTipo" class="e-input" type="hidden"/>
                    
                 
                      </div>
      
                   <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                          <!--<button id="sendButton" class="e-control e-btn e-light sendButton" data-ripple="true">Cancelar</button>-->
                          <button id="sendButton"  class="e-control e-btn e-primary sendButton" data-ripple="true" (click)="BtnOkTipoModalClick()"> Ok</button>     
                      </div>
          </div>
               
               
       </ng-template>
       <ng-template #content>
           <div class="dialogContent">
               <span class="dialogText">    
                   <app-tipos-tablas-generales  (devuelve_Tipos)="setTextSelectTipo($event)"></app-tipos-tablas-generales>                   
                  
               </span>     
           </div>
       </ng-template>
       
       <ng-template #header>
              <!--<div class="e-avatar template-image e-avatar-xsmall e-avatar-circle">fadsf</div>-->
      
              <fa-icon [icon]="faList" size="lg"></fa-icon>
                                                              
              <div id="dlg-template" title="Nancy" class="e-icon-settings"> Tipo-Modelo-Marca de Bien</div>
          </ng-template>
      
      
      </ejs-dialog>
   
   </div>