<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table  ">
        <thead class="  ">
          <tr class="card-header">
            <th colspan="6">INFORMACIÓN DEL DOCENTE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center"><strong>DNI</strong></td>
            <td align="left">{{ datos[0]['cDoceDni'] }}</td>
            <td align="left"><strong>NOMBRES Y APELLIDOS</strong></td>
            <td align="left">
              {{ datos[0]['cPersNombre'] }}, {{ datos[0]['cPersPaterno'] }}
              {{ datos[0]['cPersMaterno'] }}
            </td>
            <td><strong>CONDICION</strong></td>
            <td>{{ datos[0]['cDocenteCondicion'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-12">
      <table class="table  ">
        <thead class="  ">
          <tr class="card-header" align="center">
            <th colspan="15">CURSOS ASIGNADOS</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size: 10px">
            <td align="center"><strong>SEDE</strong></td>
            <td align="center"><strong>CODIGO</strong></td>
            <td><strong>ESCUELA/CURSO</strong></td>
            <td align="center"><strong>CICLO</strong></td>
            <td align="center"><strong>SECC.</strong></td>
            <td align="center"><strong>DIAS/SEMESTRE</strong></td>
            <td align="center"><strong>UNID. EVAL.</strong></td>
            <td align="center"><strong>Accion</strong></td>
          </tr>
          <tr *ngFor="let item of cursos; let i = index" style="font-size: 9px">
            <td align="center">{{ item.cFilSigla }}</td>
            <td align="center">{{ item.cCargaHCurso }}</td>
            <td>{{ item.cCarreraDsc }}/ {{ item.cCurricCursoDsc }}</td>
            <td align="center">{{ item.cCargaHCicloCurso }}</td>
            <td align="center">{{ item.cSeccionDsc }}</td>
            <td align="center">{{ item.cCargaHDiasSem }}</td>
            <td align="center">UNID. EVAL.</td>
            <td align="center">
              <button
                class="btn btn-primary btn-rounded btn-sm"
                (click)="curso = item"
                [routerLink]="['/cursos/principal']"
                [ngClass]="{
                  'text-white': curso == item,
                  'btn-success': curso == item
                }"
              >
                <i class="i i-Arrow-Forward-2"></i>&nbsp;&nbsp; Seleccionar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="curso != 0">
    <div class="col-12">
      <app-guia-panel
        [codigo]="codigo"
        [title]="option.titulo"
        [curso]="curso.cCurricCursoDsc"
        (option)="option = $event"
      >
      </app-guia-panel>

      <ng-container [ngSwitch]="option.n">
        <ng-container *ngSwitchCase="0">
          <app-menu [menus]="menus" (option)="option = $event"></app-menu>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <app-silabus-cursos
            [ciclo]="curso.iControlCicloAcad"
            [curso]="curso.cCargaHCurso"
          ></app-silabus-cursos>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <app-gestion-asistencia [curso]="curso"></app-gestion-asistencia>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <app-gestion-notas [curso]="curso"></app-gestion-notas>
        </ng-container>
        <ng-container *ngSwitchCase="4">
          <app-examen-sustitutorio></app-examen-sustitutorio>
        </ng-container>
        <ng-container *ngSwitchCase="5">
          <app-horarios></app-horarios>
        </ng-container>
        <ng-container *ngSwitchCase="6">
          <app-mis-asistencias [curso]="curso"></app-mis-asistencias>
        </ng-container>
        <ng-container *ngSwitchCase="7">
          <app-gestion-registro></app-gestion-registro>
        </ng-container>
        <ng-container *ngSwitchCase="8">
          <app-gestion-reportes></app-gestion-reportes>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- <router-outlet></router-outlet> -->
</div>
