
<div class="control-section template" ><!--inicio de diaglolo-->

    <div class="col-lg-12 control-section toast-default-section">
        <div class="e-sample-resize-container">
            <ejs-toast #defaulttoast id='defaulttoast' [position]="position" (created)="onCreate()"  (close)="onClose($event)"  (beforeOpen)="onBeforeOpen()">            
            </ejs-toast>        
        </div>
    </div>



    <h1>Grupos - Clases genéricos</h1>
    <div id="action-description">
    <p>
        En esta seccion puede UD. gestionar   <code>Grupos - Clases genéricos</code>.
    </div>

    <ejs-dialog #template  [isModal]='isModal' [allowDragging]='dialogdragging'  [height]='height' [visible]='hidden'  [animationSettings]='animationSettings' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' (open)="dialogOpen()"
        (close)="dialogClose()">  
        <!--<ng-template #footerTemplate>
            <input id="inVal" class="e-input" type="text" placeholder="Enter your message here!"/>
                <button id="sendButton" class="e-control e-btn e-light sendButton" data-ripple="true">Cancelar</button>
                <button id="sendButton"  class="e-control e-btn e-primary sendButton" data-ripple="true">Guardar</button>         
                    <button  [disabled]="userForm.form.invalid" >SAVE</button>
        </ng-template>-->
        <ng-template #content>
            <div class="dialogContent">
                <span class="dialogText">    
                    <app-grupo-clase-genericos-form-catalogo-sbn [id_Local_I]="datos_nombre_" [json_]="identificacion" [datosClaseGen]="GrupoClaseGen" [op]="opcion" (devuelve_hijo)="cerrar_ventana_modal($event)" (cerrar_modal)="cerrar_ventana_modal_($event)"></app-grupo-clase-genericos-form-catalogo-sbn>                   
                </span>     
            </div>
        </ng-template>
        
        <ng-template #header>
            <!--<div class="e-avatar template-image e-avatar-xsmall e-avatar-circle">fadsf</div>-->

            <fa-icon [icon]="icoForm" size="lg"></fa-icon>
                                                            
            <div id="dlg-template" title="Nancy" class="e-icon-settings"> Formulario Local </div>
        </ng-template>
    </ejs-dialog>



   <div class="control-section button-group-container">
        <div class="button-group-section">
            <div id="button-group-control">
                <div class="row">    
                    <div id="icon" class="e-btn-group">
                        <button ejs-button id="btnLocalNuevo" #ButtonInstance (click)="BtnNuevoClick()" ><fa-icon [icon]="faPlus" size="lg"></fa-icon> Nuevo</button>
                        <button ejs-button id="btnLocalVer" #ButtonInstance (click)="BtnVerClick()" ><fa-icon [icon]="faInfo" size="lg"></fa-icon> Ver</button>
                        <button ejs-button id="btnLocalModificar" #ButtonInstance (click)="BtnModificarClick()"><fa-icon [icon]="faEdit" size="lg"></fa-icon> Modificar</button>
                        <button ejs-button id="btnLocalEliminar" #ButtonInstance (click)="BtnEliminarClick()"><fa-icon [icon]="faTrashAlt" size="lg"></fa-icon> Eliminar</button>
                        
                    </div>
                </div>
                           
            </div>
        </div>
    </div>

    <ejs-grid #grid [dataSource]='data | async'  allowPaging='true' height=550  [allowFiltering]="true" [pageSettings]='pageOptions' allowSorting= 'true'  (dataStateChange)= 'dataStateChange($event)' (rowSelected)='rowSelected($event)'>
   
        <e-columns>
            <e-column field= "RowNumber" headerText="N°" width="10%" [allowFiltering]="false" [allowSorting]="false" [visible]="false"></e-column>
            <e-column field= "iGrupoClaseGenId" headerText="ID" width="10%" [allowFiltering]="false" [visible]="false" ></e-column>
            <e-column field= "iGrupoGenId" headerText="Codigo" width="10%" [allowFiltering]="false" [visible]="false"></e-column>
            <e-column field= "cGrupoClaseDescripcion" headerText="Grupo" [allowFiltering]="false" width="70%"></e-column>
            <e-column field= "iClaseGenId" headerText="Codigo" width="10%" [allowFiltering]="false" [visible]="false"></e-column>
            <e-column field= "cClaseGrupoDescripcion" headerText="Clase" width="70%"></e-column>
           
           
        </e-columns>
    </ejs-grid>

    <ejs-dialog #alertDialog [buttons]='alertDlgButtons' [isModal]='isModalAlert'  [visible]='hidden' [header]='alertHeader' [animationSettings]='animationSettings' [content]='alertContent' [showCloseIcon]='showCloseIcon' [target]='target' [width]='alertWidth'>
    </ejs-dialog>               



    
</div>
