



<div class="main-header">
    <div class="logo text-center">
        <img src="./assets/images/logo-white.png" alt="">
        <strong class="tmodulo">Mod. - PAT.</strong>
    </div>

    
    <div class="menu-toggle" (click)="toggelSidebar()">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>


    <div style="margin: auto"></div>

    <div class="header-part-right">
        <!--
            <i class="i-Magnifi-Glass1 header-icon" role="button" (click)="searchService.searchOpen = true"></i>
            <i fullScreenWindow class="i-Full-Screen header-icon d-none d-sm-inline-block" role="button"></i>
        -->
        
     

  

       <!-- <div ngbDropdown [placement]="'bottom-right'" class="user col align-self-end">
            <img src="./assets/images/faces/1.jpg" id="userDropdown" ngbDropdownToggle alt="">
            {{ nombres }}
            <div ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown">
                <div class="dropdown-header">
                    <b>{{ nombres }}</b> 
                </div>
                <a class="dropdown-item" href="/#/user/perfil">Mi Perfil</a>
                <button class="dropdown-item" (click)="signout()">Salir</button>
            </div>
        </div>-->
        
        <div style="margin: auto"></div>
    
        <div class="header-part-right">
      
            <i fullScreenWindow class="i-Full-Screen header-icon d-none d-sm-inline-block" role="button"></i>
            Año: {{anio}}
    
       
    
            <div ngbDropdown [placement]="'bottom-right'" class="user col align-self-end">
                <img src="./assets/images/faces/1.jpg" id="userDropdown" ngbDropdownToggle alt="">
                {{ nombres }}    
                <div ngbDropdownMenu aria-labelledby="userDropdown">
                    <div class="dropdown-header">
                        <i class="i-Lock-User mr-1"></i> Timothy Carlson
                    </div>
                    <button class="dropdown-item">Account settings</button>
                    <button class="dropdown-item">Billing history</button>
                    <button class="dropdown-item" (click)="signout()">Sign out</button>
                </div>
            </div>

            <i  class="i-Power-2 header-icon d-none d-sm-inline-block" role="button" (click)="signout()"></i>Salir del sistema
    
        </div>
          

    </div>

</div>