<!-- <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
      <div class="card bg-dark text-white o-hidden mb-4">
        <img class="card-img" src="./assets/images/pagina.png" alt="Card image" />
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
 -->

<!-- <div class="container" *ngIf="activo == 1">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Asistencias por cursos
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Carrera</th>
                <th>Código Curso</th>
                <th>Nombre Curso</th>
                <th>Seccion</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cursos; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td>{{ item.cCarreraDsc }}</td>
                <td class="text-center">{{ item.cCargaHCurso }}</td>
                <td>{{ item.cCurricCursoDsc }}</td>
                <td class="text-center">{{ item.cSeccionDsc }}</td>
                <td class="text-center">
                  <button class="btn btn-primary btn-sm" (click)="activo = 0; getestudiante(item)">
                    Asistencias
                  </button>
                  <button class="btn btn-warning" routerLink="/cursos/silabo" (click)="enviarDatos(cCurricCursoDsc)">Ver Silabo</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table  ">
        <thead class="  ">
          <tr>
            <th colspan="15">LISTADO OFICIAL DE ALUMNOS MATRICULADOS - {{ titulo }}</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of asist">
          <tr>
            <td colspan="2"><strong>Escuela Profesional:</strong> {{ item['Carrera'] }}</td>
            <td><strong>Sede:</strong> {{ item['Sede'] }}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Docente:</strong> {{ item['Docente'] }}</td>
            <td><strong>Semestre:</strong> {{ item['Ciclo'] }}</td>
          </tr>
          <tr>
            <td><strong>Curso:</strong> {{ item['Curso'] }}</td>
            <td></td>
            <td><strong>Código Curso:</strong> {{ item['Codigo Curso'] }}</td>
            <td></td>
            <td rowspan="3"></td>
          </tr>
          <tr>
            <td><strong>Seccion:</strong> {{ item['Sección'] }}</td>
            <td></td>
            <td><strong>Créditos</strong> {{ item['Creditos'] | number }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <br />
      <div class="row">
        <div class="col-md-6 form-group mb-3">
          <br>
          <button type="button" class="btn btn-primary" (click)="ingresarAsistencia()">Ingresar Asistencia</button>
          <button type="button" class="btn btn-secondary" (click)="corregirAsistencia()">Corregir Asistencia</button>
        </div>
        <div class="col-md-6 form-group mb-3">
          <label for="picker1">Ingrese fecha: </label>
          <div class="input-group">
            <input
              id="picker1"
              class="form-control form-control-rounded"
              placeholder="{{hoy | date: 'dd-MM-yyyy'}}"
              name="dp"
              ngbDatepicker
              #dp="ngbDatepicker"
              [(ngModel)] = 'model'
              (ngModelChange) = "prueba(model)"
            />
            <div class="input-group-append">
              <button class="btn btn-secondary btn-rounded" (click)="dp.toggle()" type="button">
                <i class="icon-regular i-Calendar-4"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table   table-hover">
            <thead class="">
              <tr>
                <th colspan="9">
                  <span class="tg">Curso {{ titulo }}</span>
                </th>
              </tr>
              <tr>
                <th>Nro.</th>
                <th>Código</th>
                <th>Apellidos y Nombres</th>
                <th>Asistencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listEstudiantes; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td class="text-center">{{ item['Codigo_Estudiante'] }}</td>
                <td>
                  {{ item['Apellidos'] }} <span class=""> {{ item['Nombres'] }} </span>
                </td>
                <td class="text-center">
                  <label class="switch switch-success mr-3">
                    <span>
                      <label *ngIf="item.checkd">Asistió</label>
                      <label *ngIf="!item.checkd">Faltó</label>
                    </span>
                    <input type="checkbox" [(ngModel)]="item.checkd"/>
                    <span class="slider"></span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
