<div class="row">
    <div class="col-sm-4">



            <h1>CARL NET Soluciones Tecnològicas</h1>
            <div id="action-description">
              <p>
                  The following sample demonstrates the default functionalities of the DatePicker. Today's date is always <code>highlighted</code> in the popup calendar and it get focused if there's no selected date. Click/Touch the desired date from the popup calendar and the selected date will be displayed in the element.
              </p>
            </div>
            <div class="control-section">
              <div id="control_wrapper">
                  <ejs-datepicker></ejs-datepicker>
              </div>
            </div>


        <div class="card user-profile o-hidden mb-4">
            <div class="header-cover" style="background-image: url('assets/images/photo-wide-4.jpg');height:200px"></div>
            <div class="user-info">
                <img class="profile-picture avatar-lg mb-2" src="assets/images/faces/1.jpg" alt="">
              <!-- <p class="m-0 text-16">{{ info.cPersNombre }}</p>
                <p class="text-muted m-0">{{ info.cPersPaterno }} {{ info.cPersMaterno }}</p>-->
               
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table>
                            <tr>
                                <th class="text-right">Codigo :</th>
                                <td class="text-center">-</td>
                            </tr>
                            <tr>
                                <th class="text-right">Correo :</th>
                                <td class="text-center">-</td>
                            </tr>
                            <tr>
                                <th class="text-right">Telefono :</th>
                                <td class="text-center">-</td>
                            </tr>
                            <tr>
                                <th class="text-right">Direccion :</th>
                                <td class="text-center">-</td>
                            </tr>
                            <tr>
                                <th class="text-right">Facebook :</th>
                                <td class="text-center">-</td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
            <div class="card user-profile o-hidden mb-4">
                <br><br><br>
                <h5 class="text-center">Informacion de Usuario</h5>
                <br><br><br>
            </div>
        </div>
</div>

