/* You can add global styles to this file, and also import other style files */






@import '../node_modules/@syncfusion/ej2-base/styles/fabric.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/fabric.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/fabric.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/fabric.css';  

@import '../node_modules/@syncfusion/ej2-inputs/styles/fabric.css'; 

@import '../node_modules/@syncfusion/ej2-navigations/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-angular-notifications/styles/fabric.css';

@import '../node_modules/@syncfusion/ej2-lists/styles/fabric.css';

@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/fabric.css';  
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/fabric.css';


@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';




@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';
.tg{
    font-size:14px; 
}
select{
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc) !important;
    background-position:
    calc(100% - 17px) calc(1em + 1px),
    calc(100% - 12px) calc(1em + 1px),
    calc(100% - 2.5em) 0.5em !important;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em !important;
    background-repeat: no-repeat !important;
}
.spacePagination{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}















html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
