<div class="">
    <div class="row">
        <!-- ICON BG -->
        <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let m of menus">
            <a *ngIf="m.tipo == 'seccion'" class="card card-icon-bg card-icon-bg-primary card-menu o-hidden mb-4" (click)="open(m)">
                <div class="card-body text-center">
                    <img src="./assets/images/iconos/{{ m.image }}.png" width="55" alt="" />
                    <div class="content">
                        <p class="lead text-primary text-16">{{ m.titulo }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
